.review__content {
    background: #EEEEEE;
    min-height: 89vh;
    padding-bottom: 30px;
}

.review__inner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1150px;
}

.shop__content {
    margin-top: 50px;
    border-right: 2px solid #ccc;
    height: 420px;
    padding-right: 40px;
    max-width: 420px;
    min-width: 345px;
    width: 40%;
}

.review__ttl-message {
    font-size: 32px;
    margin: 0;
}

.card {
    width: 290px;
    margin: 25px 6px 0;
    box-shadow: 3px 3px 3px #9f9f9f;
    border-radius: 5px;
    overflow: hidden;
    height: 270px;
}

.card__img {
    height: 143px;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__content {
    padding: 18px 20px;
    background: #FFFFFF;
    height: 135px;
}

.card__content-ttl {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}

.card__content-tag {
    font-size: 14px;
}

.card__content-tag-item {
    /* 横並びにするためにinline-blockを指定 */
    display: inline-block;
    font-size: 12px;
    margin: 0;
}

.card__content-footer {
    display: flex;
    justify-content: space-between;
}

.card__content-button {
    background: #305DFF;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 5px 14px;
    /* 要素の文字数に応じて幅が変更されるためにinline-blockを指定 */
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}

.card__content-img {
    width: 31px;
    height: 31px;
}

.review__form {
    border-radius: 5px;
    overflow: hidden;
    max-width: 550px;
    width: 40%;
    margin-left: 50px;
}

.review__form-item {
    margin: 0;
    margin-bottom: 30px;
}

.review__form-ttl {
    color: #000000;
    margin: 0;
    margin-bottom: 10px;
}

.form__error {
    color: #ff0000;
    text-align: left;
    margin-bottom: 10px;
}

.review__form-rating {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.form-rating__input {
    display: none;
}

.form-rating__label {
    color: #ccc;
    cursor: pointer;
    font-size: 35px;
    padding: 0 4px;
    position: relative;
    transition: color 0.3s;
}

.form-rating__label:hover,
.form-rating__label:hover~.form-rating__label,
.form-rating__input:checked~.form-rating__label {
    /* 「~」でホバー時を動的に、チェック時にそれ以下の数字をもつスターの色も変化 */
    color: #305DFF;
}

.review__form--textarea {
    height: 130px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
    width: 100%;
}

.review__form--textarea__annotation {
    font-size: 13px;
    margin: 0;
    text-align: right;
}

.review__form--drop-area {
    width: 100%;
    max-width: 100%;
    text-align: center;
    cursor: pointer;
    position: relative;
    background: #FFFFFF;
    /* 画像がはみ出さないようにする */
    height: 200px;
    /* 高さを固定 */
    overflow: hidden;
    /* 画像がはみ出さないように */
}

.drop-area.highlight {
    background-color: #f0f0f0;
}

.upload-message {
    margin-top: 70px;
}

.upload-message__last {
    font-size: 13px;
}

.gallery {
    width: 100%;
    height: 100%;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.preview {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
    /* 画像を枠に合わせて調整 */
    position: absolute;
    /* 画像を `drop-area` 内に配置 */
    top: 0;
    left: 0;
}

.form__button {
    text-align: center;
}

.form__button-submit {
    background: #FFFFFF;
    border: none;
    color: #000000;
    width: 35%;
    height: 45px;
    font-size: 15px;
    border-radius: 30px;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .review__content {
        padding: 0 0 50px;
    }

    .review__inner {
        display: block;
    }

    .shop__content {
        padding-right: 0px;
        min-width: 305px;
        width: 100%;
        padding: 0 5px;
        border-right: none;
        border-bottom: 2px solid #ccc;
        margin: 0 auto;
    }

    .card {
        margin: 25px auto 0;
    }

    .review__form {
        width: 305px;
        margin: 30px auto 0;
        padding: 0 5px;
    }

    .form__button-submit {
        width: 305px;
    }
}
