.shop-detail__content {
    background: #EEEEEE;
    min-height: 89vh;
    padding-bottom: 20px;
}

.shop-detail__inner {
    max-width: 1190px;
    padding: 40px 0;
}

.shop-detail__section,
.review__content {
    max-width: 550px;
    margin-left: 50px;
    width: 42%;
}

.shop-detail__header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.shop-detail__button {
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 28px;
    height: 28px;
    font-size: 18px;
    box-shadow: 2px 2px 4px #747474;
}

.shop-detail__ttl {
    margin: 0 0 0 12px;
    font-size: 26px;
}

.shop-detail__img {
    width: 100%;
    max-width: 640px;
    aspect-ratio: 6 / 4;
    overflow: hidden;
}

.shop-detail__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 縦横比を維持しつつ、枠にフィット */
    display: block;
}

.shop-detail__tag {
    display: flex;
    margin-top: 11px;
}

.shop-detail__tag-item {
    font-size: 15px;
}

.shop-detail__tag-last {
    margin-left: 5px;
}

.shop-detail__text-overview {
    font-size: 15px;
    margin: 10px 0;
}

.review__content {
    margin-top: 80px;
}

.review-ttl {
    background: #305DFF;
    color: #FFFFFF;
    text-align: center;
    height: 40px;
}

.review-form__button {
    text-align: right;
}

.review__group {
    border-top: 2px solid #ccc;
}

.review-form__group {
    display: flex;
    justify-content: right;
    text-align: right;
}

.review-form__button--submit {
    text-decoration: underline;
    border: none;
    font-size: 15px;
}

.review__group-item {
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
}

.review__star--content {
    color: #305DFF;
    font-size: 35px;
    padding: 0 3px;
}

.review__img {
    width: 100%;
    max-width: 640px;
    aspect-ratio: 6 / 4;
    overflow: hidden;
}

.review__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 縦横比を維持しつつ、枠にフィット */
    display: block;
}

.review-link {
    color: #000000;
}

.reservation__form {
    width: 42%;
    max-width: 550px;
    min-width: 300px;
    height: 630px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 4px #747474;
    margin: -51px 0 0 90px;
    background: #305DFF;
    padding: 28px 0 0;
    /* 画面右側に固定（画面幅を超えないように調整） */
    position: fixed;
    top: 150px;
    right: 50px;
}

.reservation__ttl {
    color: #FFFFFF;
    font-size: 22px;
    margin: 0 26px 22px;
}

.reservation__form-content {
    height: 493px;
}

.form__item {
    margin: 13px 18px;
}

.form__item--input,
.form__item--select {
    border-radius: 5px;
    border: none;
    height: 30px;
    padding: 0 10px;
    max-width: 475px;
    width: 95%;
}

.form__item--input-date {
    width: 170px;
}

.form__item--input-time {
    position: relative;
    background-image: url("../images/select.png");
    background-repeat: no-repeat;
    /* 画像のサイズ（幅 高さ）*/
    background-size: 14px 9px;
    /* 画像の位置 */
    background-position: right 9px center;
    font-size: 12px;
}

.form__item--input-time::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
    z-index: 1;
}

.form__item--select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../images/select.png");
    background-repeat: no-repeat;
    /* 画像のサイズ（幅 高さ）*/
    background-size: 14px 9px;
    /* 画像の位置 */
    background-position: right 9px center;
}

.reservation-table {
    background: #4D7FFF;
    border-radius: 5px;
    padding: 21px 20px;
    text-align: left;
    margin: 18px;
    max-width: 460px;
    width: 85%;
}

.reservation-table__header {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 40px 4px 0;
}

.reservation-table__text {
    color: #FFFFFF;
    font-size: 14px;
    padding: 4px 40px 4px 0;
}

.reservation__alert {
    margin-top: 10px;
}

.reservation__alert--danger {
    padding: 10px 0;
    color: #ff0000;
}

.reservation__alert--danger ul {
    margin: 0;
}

.form__button-submit {
    background: #0538FF;
    border: none;
    color: #FFFFFF;
    width: 100%;
    height: 54px;
    font-size: 15px;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .shop-detail__content {
        padding: 0 0 50px;
        height: auto;
    }

    .shop-detail__inner {
        display: flex;
        flex-direction: column;
    }

    .shop-detail__section,
    .review__content {
        min-width: 305px;
        padding: 0 5px;
        width: 80%;
        margin: 0 auto;
    }

    .review__content {
        order: 3;
    }

    .reservation__form {
        min-width: 295px;
        height: 600px;
        margin: 70px auto;
        position: static;
        width: 80%;
    }

    .reservation__ttl {
        margin: 0 20px 22px;
    }

    .reservation__form-content {
        height: 465px;
    }

    .form__item--input-time,
    .form__item--select {
        min-width: 260px;
    }

    .reservation-table {
        margin: 18px 18px 0;
        min-width: 260px;
    }
}
