.container {
    margin: 0 auto;
    padding: 100px;
    height: 89vh;
    background: #EEEEEE;
}

.card {
    margin: 0 auto;
    width: 500px;
}

.btn {
    border: none;
    color: #305DFF;
    text-decoration: underline;
    padding: 0;
    font-size: 16px;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .card {
        width: 300px;
    }
}
